/* @font-face {
  font-family: "101BlockLetterz";
  src: url("../fonts/101-block-letterz-font/101BlockLetterz-XZYK.ttf");
} */
@font-face {
  font-family: "Arthemis";
  src: url("../fonts/arthemis-font/Arthemis-PKY27.ttf");
}
/* @font-face {
  font-family: "Shutter Breathing";
  src: url("../fonts/shutter-breathing-font/ShutterBreathing-x3re8.ttf");
} */
@font-face {
  font-family: "Sketchup";
  src: url("../fonts/sketchup-font/SketchupFreeTrial-gxmj5.otf");
}
